# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
classes
.gradle

# other
eclipse
run
/.gradle-home/
/neoforge/runs/junit/.mixin.out/class/net/minecraft/core/MappedRegistry.class
/neoforge/runs/junit/.mixin.out/class/net/minecraft/world/level/block/entity/BlockEntityType.class
/neoforge/runs/junit/.mixin.out/class/net/neoforged/neoforge/mixins/BlockEntityTypeAccessor.class
/neoforge/runs/junit/.mixin.out/class/net/neoforged/neoforge/mixins/MappedRegistryAccessor.class
/neoforge/runs/junit/config/fml.toml
/neoforge/runs/junit/config/neoforge-common.toml
/neoforge/runs/junit/logs/2024-06-07-1.log.gz
/neoforge/runs/junit/logs/2024-06-13-1.log.gz
/neoforge/runs/junit/logs/2024-06-24-1.log.gz
/neoforge/runs/junit/logs/debug.log
/neoforge/runs/junit/logs/debug-1.log.gz
/neoforge/runs/junit/logs/debug-2.log.gz
/neoforge/runs/junit/logs/debug-3.log.gz
/neoforge/runs/junit/logs/latest.log
/neoforge/runs/junit/junit_jvm_args.txt
/neoforge/runs/junit/junit_test_args.txt
/neoforge/runs/junit/test_args.txt
